build/VK-Stat/VK-Stat.exe.manifest
build/VK-Stat/Analysis-00.toc
VK-Stat.spec
build/VK-Stat/base_library.zip
dist/VK-Stat.rar
dist/VK-Stat.exe
dist/vk_config.v2.json
build/VK-Stat/localpycs/struct.pyc
build/VK-Stat/localpycs/pyimod04_pywin32.pyc
build/VK-Stat/localpycs/pyimod03_ctypes.pyc
build/VK-Stat/localpycs/pyimod02_importers.pyc
build/VK-Stat/localpycs/pyimod01_archive.pyc
build/VK-Stat/xref-VK-Stat.html
build/VK-Stat/warn-VK-Stat.txt
build/VK-Stat/VK-Stat.pkg
VK-del.py
build/VK-Stat/EXE-00.toc
build/VK-Stat/PKG-00.toc
build/VK-Stat/PYZ-00.pyz
build/VK-Stat/PYZ-00.toc
vk_config.v2.json
